<app-header></app-header>
<div class="prd1-cont container-fluid">
    <div class="row">
        <div class="col-lg-3 prd1-left">
            <app-dashboard-admin></app-dashboard-admin>
        </div>
        <div class="col-lg-9 prd1-right">
          <h2>Top 5 sản phẩm bán chạy nhất</h2>
          <div>
              <canvas baseChart
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [type]="'bar'">
              </canvas>
          </div> 
          <br>
          <br>
          <h2>Thống kê doanh thu theo năm</h2>
          <div style="padding-left: 20px ;">
              <label style="padding-right: 5px ;" for="yearSelect">Chọn năm : </label>
              <select
                id="yearSelect"
                style="padding-left: 5px ;"
                [(ngModel)]="selectedYear"
                (change)="loadMonthlyRevenue(selectedYear)">
                <option *ngFor="let year of years" [value]="year">
                  {{ year }}
                </option>
              </select>
          </div>
          <div id="chart">
            <div *ngIf="chartOptions.series">
                  <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart|| { height: 350, type: 'line', zoom: { enabled: false } }"
                      [xaxis]="chartOptions.xaxis|| {}"
                      [dataLabels]="chartOptions.dataLabels|| {}"
                      [grid]="chartOptions.grid|| {}"
                      [stroke]="chartOptions.stroke|| {}"
                      [title]="chartOptions.title|| {}"
                    >
                  </apx-chart>
              </div>
            </div>
            
        </div>
    </div>
</div>

<app-footer></app-footer>

