<app-header></app-header>
        <!---->
<div class="home-banner container-fluid">
    <div class="slider" #slider>
        <div class="list">
            <div class="item">
                <img src="../../../../assets/img/banner_carrot.webp" alt="">
            </div>
            <!--
            <div class="item">
                <img src="../../../../assets/img/Hi-im-Mule_1920x1050-Desktop.jpg" alt="">
            </div>
            -->
        </div>
    </div>
</div>
        <!---->
<div class="home-collection container-fluid">
    <div class="row1">
        <div class="left">
            <div class="slide-collection slick-slider">
                <div class="cont-item">
                    <div class="adv-collection">
                        <a href="javascript:void(0)">
                            <img src="../../../../assets/img/Banner_black.webp" alt="">
                        </a>
                    </div>
                    <div class="content-collection">
                        <h3 class="title">
                            <a href="javascript:void(0)">ALL BLACK IN VIET</a>
                        </h3>
                        <h3 class="description">
                            <P>Mặc dù được ứng dụng rất nhiều, nhưng sắc đen lúc nào cũng toát lên một vẻ huyền bí không nhàm chán.</P>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="slide-collection slick-slider" style="width: 585px;">
                <div class="cont-item">
                    <div class="adv-collection">
                        <a href="javascript:void(0)">
                            <img src="../../../../assets/img/banner_sale_off.jpg" alt="">
                        </a>
                    </div>
                    <div class="content-collection">
                        <h3 class="title">
                            <a href="javascript:void(0)">OUTLET SALE</a>
                        </h3>
                        <h3 class="description">
                            <P>Danh mục những sản phẩm bán tại "giá tốt hơn" chỉ được bán kênh online - Online Only, chúng đã từng làm mưa làm gió một thời gian và hiện đang rơi vào tình trạng bể size, bể số.</P>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!---->
<div class="home-buy container-fluid">
    <div class="row title">DANH MỤC MUA HÀNG</div>
    <div class="row2">
        <div class="item main">
            <div class="item-bg">
                <div class="black-bg"></div>
                <img src="../../../../assets/img/catalogy-1.jpg" alt="">
            </div>
            <div class="item-group">
                <a href="javascript:void(0)" class="title">GIÀY NAM</a>
                <a href="javascript:void(0)" class="sub">New Arrivals</a>
                <a href="javascript:void(0)" class="sub">Best Seller</a>
                <a href="javascript:void(0)" class="sub">Sale-off</a>
            </div>
        </div>
        <div class="item main">
            <div class="item-bg">
                <div class="black-bg"></div>
                <img src="../../../../assets/img/catalogy-4.jpg" alt="">
            </div>
            <div class="item-group">
                <a href="javascript:void(0)" class="title">GIÀY NỮ</a>
                <a href="javascript:void(0)" class="sub">New Arrivals</a>
                <a href="javascript:void(0)" class="sub">Best Seller</a>
                <a href="javascript:void(0)" class="sub">Sale-off</a>
            </div>
        </div>
        <div class="item main">
            <div class="item-bg">
                <div class="black-bg"></div>
                <img src="../../../../assets/img/catalogy-2.jpg" alt="">
            </div>
            <div class="item-group">
                <a href="javascript:void(0)" class="title">DÒNG SẢN PHẨM</a>
                <a href="javascript:void(0)" class="sub">Basas</a>
                <a href="javascript:void(0)" class="sub">Vintas</a>
                <a href="javascript:void(0)" class="sub">Urbas</a>
                <a href="javascript:void(0)" class="sub">Pattas</a>
            </div>
        </div>
    </div>
</div>
        <!---->
<div class="home-banner1 container-fluid">
    <a href="javascript:void(0)">
        <img src="../../../../assets/img/Banner_Clothing_2.jpg" alt="">
    </a>
</div>
        <!---->
<div class="home-new container-fluid">
    <div class="row title">TIN TỨC & BÀI VIẾT</div>
    <div class="row2">
        <div class="item main">
            <div class="item-news">
                <a href="javascript:void(0)"> <img src="../../../../assets/img/new1.jpg" alt=""> </a>
            </div>
            <div class="caption">
                <h3 class="title-caption">
                    <a href="javascript:void(0)">URBAS CORLURAY PACK</a>
                </h3>
                <h3 class="des">Urbas Corluray Pack đem đến lựa chọn “làm mới mình” với sự kết hợp 5 gam màu mang sắc thu; phù hợp với những người trẻ năng động, mong muốn thể hiện cá tính riêng biệt khó trùng lặp.</h3>
                <h3 class="learn-more">
                    <a href="javascript:void(0)">Đọc thêm</a>
                </h3>
            </div>
        </div>
        <div class="item main">
            <div class="item-news">
                <a href="javascript:void(0)"> <img src="../../../../assets/img/new2.jpg" alt=""> </a>
            </div>
            <div class="caption">
                <h3 class="title-caption">
                    <a href="javascript:void(0)">SNEAKER FEST VIETNAM VÀ SỰ KẾT HỢP</a>
                </h3>
                <h3 class="des">Việc sử dụng dáng giày Vulcanized High Top của Ananas trong thiết kế và cảm hứng bắt nguồn từ linh vật Peeping - đại diện cho tinh thần xuyên suốt 6 năm qua Sneaker Fest Vietnam, chúng tôi tự tin đây sẽ là sản phẩm đáng mong chờ cho mọi “đầu giày” vào mùa hè năm nay...</h3>
                <h3 class="learn-more">
                    <a href="javascript:void(0)">Đọc thêm</a>
                </h3>
            </div>
        </div>
        <div class="item main">
            <div class="item-news">
                <a href="javascript:void(0)"> <img src="../../../../assets/img/new3.jpg" alt=""> </a>
            </div>
            <div class="caption">
                <h3 class="title-caption">
                    <a href="javascript:void(0)">"GIẢI PHẪU" GIÀY VULCANIZED</a>
                </h3>
                <h3 class="des">Trong phạm vi bài viết ngắn, hãy cùng nhau tìm hiểu cấu tạo giày Vulcanized Sneaker - loại sản phẩm mà Ananas đã chọn làm "cốt lõi" để theo đuổi trong suốt hành trình của mình...</h3>
                <h3 class="learn-more">
                    <a href="javascript:void(0)">Đọc thêm</a>
                </h3>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>