<div class="not-found">
    <div class="content">
        <strong>
            Xin lỗi vì sự bất tiện này, nhưng có vẻ bạn đang cố vào trang nào đó với quyền không tương ứng.<br>
        Vui lòng quay lại trang đăng nhập và đăng nhập lại.
        </strong>
        <div class="row" style="padding-top: 50px;">
            <a href="#" (click)="logOut()">
                <i style="color: #f15e2c;" class="fa-solid fa-arrow-rotate-left"></i>
                <span style="padding-left: 10px; color: #f15e2c;" class="link-name">Quay lại</span>
            </a>
        </div>
    </div>
</div>